.inmemoria-people-carousel {
    display: flex;
    align-items: center;
    align-self: center;
    width: 100%;
    gap: 20px;
}

.inmemoria-people-carousel-left {
    cursor: pointer;
    background: url('../images/big_button_left.png');
    width: 43px;
    height: 43px;
    flex-shrink: 0;
}

.inmemoria-people-carousel-right {
    cursor: pointer;
    width: 43px;
    height: 43px;
    background: url('../images/big_button_right.png');
    flex-shrink: 0;
}

.inmemoria-people-carousel-content {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
    height: 313px;
    gap: 12px;
    justify-content: center;
}
