.inmemoria-person-page {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: #88b7c9;
}

.inmemoria-person-page-container {
    display: flex;
    flex-direction: row;
}

.inmemoria-person-page-sidebar {
    padding-top: 8px;
    padding-left: 10px;
    width: 300px;
    flex-shrink: 0;
}

.inmemoria-person-page-content {
    flex: 1;
}

.inmemoria-person-page-card {
    background: url('src/features/inmemoria/images/memo.gif') no-repeat scroll 0
        0 transparent;
    position: relative;
    width: 170px;
    margin: 0 6px 0 6px;
    height: 310px;
    display: inline-block;
    border-radius: 10px;
    border: 0 solid white;
}
