.inmemoria-page img {
    border: none;
}

.inmemoria-page {
    position: relative;
    min-height: 768px;
    min-width: 1024px;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #9bc6d6;
    background: -moz-linear-gradient(
        left,
        #003 0px,
        #9bc6d6 512px,
        #fbfdfc 1280px
    );
    background: -webkit-linear-gradient(
        left,
        #003 0px,
        #9bc6d6 512px,
        #fbfdfc 1280px
    );
    background: -o-linear-gradient(
        left,
        #003 0px,
        #9bc6d6 512px,
        #fbfdfc 1280px
    );
    background: -ms-linear-gradient(
        left,
        #003 0px,
        #9bc6d6 512px,
        #fbfdfc 1280px
    );
    background: linear-gradient(left, #003 0px, #9bc6d6 512px, #fbfdfc 1280px);

    font-size: 13px;
    font-family: Tahoma, Verdana;
    color: #336;
}

.inmemoria-page {
    position: relative;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    /*background: linear-gradient(left, #003 0px, #9bc6d6 512px, #fbfdfc 1280px);*/
    -pie-background: linear-gradient(left, #003, #9bc6d6, #fbfdfc);
}

.inmemoria-page h1 {
    font-family: georgia;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 7px;
}

.inmemoria-page h2 {
    font-family: georgia;
}

.inmemoria-page h3 {
    font-family: georgia;
    margin: 0 0 5px 5px;
}

.inmemoria-page a {
    color: #224;
}

.inmemoria-page a:visited {
    color: #224;
}

.inmemoria-page .card {
    width: 170px;
    margin: 0 6px 0 6px;
    height: 310px;
    display: inline-block;
    *display: inline;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 0px solid white;
    /*float: left;*/
}

.inmemoria-page .card div {
    position: absolute;
}

.inmemoria-page .card .small_photo {
    width: 64px;
    height: 80px;
    background: #000;
    overflow: hidden;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.inmemoria-page .card .small_photo img {
    border: 5px solid black;
    width: 80px;
}

.inmemoria-page .card .memoir a,
.inmemoria-page .card .gallery a,
.inmemoria-page .card .life a {
    margin: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    font-family: Tahoma, Verdana;
    /*color: #32303e;*/
    color: #282948;
}

.inmemoria-page .card .memoir a:visited,
.inmemoria-page .card .gallery a:visited,
.inmemoria-page .card .life a:visited {
    color: #282948;
}

.inmemoria-page .card .memoir:hover,
.inmemoria-page .card .gallery:hover,
.inmemoria-page .card .life:hover {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: white;
    opacity: 0.5;
}

.inmemoria-page .card .personname {
    position: absolute;
    left: 82px;
    top: 45px;
    width: 90px;
    overflow: hidden;
    color: #246;
    text-align: left;
    font-family: Georgia;
    font-weight: bold;
    font-size: 11px;
}

.inmemoria-page .card .personname a {
    text-decoration: none;
    color: #246;
}

.inmemoria-page .card .personname a:visited {
    color: #246;
}

.inmemoria-page #epigraph {
    position: absolute;
    right: 50px;
    top: 0;
}

.inmemoria-page #listlink {
    position: absolute;
    right: 0px;
    top: 147px;
}

.inmemoria-page #mainsearch {
    position: absolute;
    width: 250px;
    top: 130px;
    left: 50px;
}

.inmemoria-page #mainsearch #textinput {
    height: 24px;
    width: 213px;
    border: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: white url('../images/lupa.png') no-repeat 0px 0px;
    padding: 3px 8px 3px 35px;
    font-size: 16px;
}

.inmemoria-page #mainsearch #opsubmit {
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 30px;
    border: none;
    background: transparent;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.inmemoria-page #left_list_button {
    position: absolute;
    top: 37%;
    left: 5px;
    width: 41px;
    height: 43px;
    background: url('../images/big_button_left.png') no-repeat 0px 0px;
    cursor: pointer;
}

.inmemoria-page #right_list_button {
    position: absolute;
    top: 37%;
    right: 5px;
    width: 42px;
    height: 43px;
    background: url('../images/big_button_right.png') no-repeat 0px 0px;
    cursor: pointer;
}

.inmemoria-page #foot {
    position: absolute;
    margin-left: 60px;
    bottom: 16px;
    left: 0;
    right: 0;
}

.inmemoria-page #foot a {
    font-size: 15px;
    font-weight: bold;
    color: #88b7c9;
}
